html,body{
   height: 100%;
}
.wrapper{
   max-width: 100vw;
   min-height: 100%;
   min-width: 350px;
   display: flex;
   flex-direction: column;
   margin: auto;
   justify-content: center;
}
nav{
   background-color: #29B6F6;
}
nav .nav-wrapper{
   width:70%;
   margin: auto;
}
main{
  flex-grow: 1;
}
.title-block{ 
text-align: center;
margin: 100px 0;
}
.title-block p{
   font-size: 1.5rem;
}
.cards-block{
   display: flex;
   justify-content: space-between;
   gap:15px;
   margin-bottom: 80px;
}
@media screen and (min-width:992px){
   .cards-block{
      flex-wrap: nowrap;
   }
}
@media screen and (max-width:992px){
   .cards-block{
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 10px;
   }
   .title-block{
      margin: 50px 0;
   }
}
@media screen and (max-width:605px){
   .cards-block{
      flex-direction: column;
   }
   .card{
      flex:1 0 200px !important;
   }
   footer .row{
      display: flex;
      flex-direction: column;
     
   }
}
.card{
   box-shadow: none;
   flex:1 0 250px
}
.material-icons{
font-size: 3em;
}
.card-content{
   padding-top:0 !important;
}
.page-footer{
   background-color: #F28705;
}
.page-footer .row{
   display: flex;
}
.page-footer .row + div{
   padding: 0;
}
.row .col.offset-l2{
   margin-left: 0;
}.page-footer a{
   position: relative;
}
.page-footer .row a::before{
   content: "";
   width:0;
   height: 1px;
   display:block;
   position: absolute;
   bottom: 0;
   left: 0;
   background-color: #fff;
   transition: width 0.3s;
}
.page-footer .row a:hover::before{
   width:100%;
}
.footer-copyright span{
   color:#FDB75F;
}