*{
   margin:0;
   padding: 0;
   box-sizing: border-box;
}
.wrapper{
   width:600px;
   margin:auto;
}
.slider{
   width:510px;
   height: 340px;
   overflow: hidden;
   border:5px solid #000;
   position: relative;
}
.navigation{
   position: absolute;
   left:50%;
   bottom:20px;
   display: flex;
   gap:10px;
   transform: translateX(-50%);
   z-index: 10;
}
.bar{
   height: 6px;
   width:20px;
   background-color: #000;
   opacity: 0.8;
   border-radius: 10px;
   cursor: pointer;
}
.bar:hover{
   opacity: 1;
   transform: scale(1.1);
}
input{
   display: none;
}
.image{
   position: absolute;
   top:0;
   left:0;
   opacity: 0;
   transition: opacity .5s}
#pic-1:checked ~ .slide1 .image,
#pic-2:checked ~ .slide2 .image,
#pic-3:checked ~ .slide3 .image,
#pic-4:checked ~ .slide4 .image{
   opacity: 1;
   z-index: 3;
   transition: opacity .5s;
}