body {
   margin: 0;
   padding: 0;
   background-color: #000;
   color: #fff;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   align-items: center;
  
}
header{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   height: 80px;
   background-color: #000;
   z-index: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}
.search-form{
   width:500px;
   text-align: center;
   border: 2px solid #fff;
   padding: 2rem;
   border-radius: 10px;
   margin: 100px 20px 40px;
}
.search-form > input, .search-form > button {
   font-size: 25px;
}
#output, #watchList {
   display: flex;
   justify-content: center;
   gap:15px;
   max-width: 1400px;
   min-width: 320px;
   flex-wrap: wrap;
}

.film-elem {
   padding: 10px;
   border: 2px solid #fff;
   border-radius: 10px;
   width:310px;
   height:450px;

}

.card-content {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 85%;
}
.card-content > h3 {
   margin: 0;
   padding: 0;
}
.img-container{
   width:100%;
   height: 80%;
}
img {
   width:100%;
   height: 100%;
   object-fit: contain;
}
.card-button {
   height: 15%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.btn{
   padding: 4px 15px;
   font-size: 18px;
   line-height: 25px;
   border-radius: 10px;
   background: transparent;
   border: 2px solid #fff;
   color:#fff;
   transition: all 0.3s;
   cursor: pointer;

}
.search-btn{
   margin-left: 10px;
}
.header-btn__switcher{
   display: inline-block;
   width:180px;
   text-align: center;
}
.add-watchlist-btn{
   width: 80%
}
.header-btn:hover, .search-btn:hover, .add-watchlist-btn:hover{
   background: #fff;
   color:#000
}
#watchList, #watch-list-switcher{
   display: none;
}