nav{
   background-color: #808080;
   width: 310px;
   margin:50px;
}
ul{
   list-style-type: none;
   margin:0;
   padding:0;
}
li{
   text-transform: uppercase;
   font-size: 24px;
   color: #fff;
}
li:hover{
   background-color: #4646468f;
   font-size: 28px;
}
li a{
   color: #fff;
   text-decoration: none;
   display: block;
   height: 100%;
   padding: 15px 10px;
}
.image{
   vertical-align: middle;
   height: 85px;
   padding-right:20px;
}
